@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Staatliches&family=Arvo:ital@1&display=swap');

body::-webkit-scrollbar {
  display: none;
}

h3 {
  color: rgb(111, 78, 55, 0.75);
  font-size: 24px;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 45%;
  margin-bottom: 45%;
  font-family: "Arvo";
}

div {
  height: 33%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
}

button {
  background-color: rgb(51, 51, 51, 0.66);
  color: #DDDDDD;
  border-radius: 8px;
  border: black 0px solid;
  width: 200px;
  height: 35px;
  font-family: "Arvo";
  font-weight: bold;
  transition: background-color 0.5s ease-in-out;
}

button:active {
  background-color: rgb(221, 221, 221, 0.66);
  color: #333333;
}

button:hover {
  background-color: rgb(51, 51, 51, 1);
}

a {
  display: flex;
  justify-content: center;
  color: #DDDDDD;
  text-decoration: none;
}

a:active {
  color: #333333;
  text-decoration: none;
}

a:visited {
  color: #DDDDDD;
  text-decoration: none;
}

html {
  background-image: url(https://i.postimg.cc/yNKRmF8V/gif.gif);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}
