@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Space+Grotesk:wght@400;700&display=swap');

:root {
    --near-black: #222;
    --off-gray: #444;
    --near-white: #ddd;
    --sea-blue: #0af;
    --sea-green: #0fa;
    --dark-sea-blue: #058;

    --quick-in: cubic-bezier(0, 0.75, 0.25, 1);
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: var(--off-gray);
    }

    footer {
        background-color: var(--near-white);
        color: var(--near-black);
    }

    footer > a {
        content: url("https://i.postimg.cc/N0pptLvn/Up-Button-Dark-on-Light.png");
    }
} /* End of Dark Mode CSS */

@media (prefers-color-scheme: light) {
    html {
        background-color: var(--near-white);
    }

    footer {
        background-color: var(--near-black);
        color: var(--near-white);
    }

    footer > a {
        content: url("https://i.postimg.cc/26yTSmzS/Up-Button-Light-on-Dark.png");
    }
} /* End of Light Mode CSS */

html {
    font-family: 'Space Grotesk', 'Cabin', sans-serif;

    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

a {
    text-decoration: none;
}

nav {
    height: 15vw;
    max-height: 175px;
    width: 100vw;

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: row;
    z-index: 100;
}

nav > div > a {
    text-decoration: none;
}

nav > div > a > div {
    width: 15vw;
    max-width: 500px;

    height: 4vh;
    max-height: 175px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--near-black);
}

#siteLogo {
    width: 10vw;
    height: 10vw;
    border-bottom-right-radius: 2.5vw;

    background-color: var(--near-black);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url("https://i.postimg.cc/8cDCcMnw/S-Dark-Logo.png");
    
    transition: all 0.25s var(--quick-in);

    border-right: var(--near-white) solid 4px;
    border-bottom: var(--near-white) solid 4px;
}

#siteLogo:hover {
    background-image: url("https://i.postimg.cc/HW4xKvVN/H-Dark-Logo.png");
}

#navBack {
    width: 90vw;
    height: 6vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--near-white);
    border-bottom: var(--near-black) 4px solid;
}

.navButton {
    background: var(--sea-blue);
    background: linear-gradient(90deg, var(--sea-green) 0%, var(--sea-blue) 33%, var(--near-white) 67%);
    background-size: 350%;
    background-position: right;

    height: 6vh;

    font-family: 'Cabin';
    font-weight: 400;
    font-size: 2.5vh;

    transition: all 0.5s var(--quick-in);
}

.navButton:hover {
    background-position: left;
    font-size: 2.75vh;
}

#headerSection {
    background-image: linear-gradient(90deg, var(--sea-green) 33%, var(--sea-blue) 67%);
    background-size: 200vw;
    background-position-x: center;
    animation: headerAnim 10s ease-in-out 0s infinite;
    
    font-family: "Space Grotesk";
    font-size: 10vh;
    font-weight: bold;
    color: var(--near-black);

    height: 25vh;
    width: 100vw;

    position: absolute;
    top: 6vh;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes headerAnim {
    25% {background-position-x: left;}
    75% {background-position-x: right;}
}

#bodyOfText{
    position: absolute;
    top: 33vh;
    left: 15vw;

    width: 70vw;

    font-family: "Cabin", "Space Grotesk", "Sans Serif", "Serif";
    font-size: 1.5em;
    font-size-adjust: auto;
    text-align: justify;
}

.bodySubtitle {
    font-family: "Space Grotesk";
    font-weight: bold;
    font-size: 2em;

    margin: 0;
    margin-left: 2.5vw;
    padding-left: 0.5vw;
}

#bodyOfText > p:not(.bodySubtitle, .textOnlySec) {
    min-height: 17.5vw;
}

#bodyOfText > .wrapImg {
    width: 30vw;
    height: 16.875vw;
    margin: 1vw;

    background-size: 100%;
    background-position: center;

    border-radius: 0.5vw;
    border-width: 0;

    transition: all var(--quick-in) 0.5s;
}

#bodyOfText > .wrapImgRight {
    float: right;
    margin-right: -10vw;
}

#bodyOfText > .wrapImgLeft {
    float: left;
    margin-left: -10vw;
}

#bodyOfText > .wrapImg:hover {
    background-size: 125%;
    border-radius: 1.75vw;
    border-width: 0.5vw;
    cursor: pointer;
}

#endingCarousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-height: 30vw;
}

.endCarPart {
    width: 95%;
    margin: 2.5%;
    padding: 2.5%;
    aspect-ratio: 1;

    font-size: 1.25em;

    background-size: fill;
    background-position: center;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    transition: all var(--quick-in) 0.5s;
}

.endCarPart:hover {
    width: 117.5%;
    margin: 0%;
    font-size: 1.5em;
}
