@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Space+Grotesk:wght@400;700&display=swap');

:root {
    --near-black: #222;
    --off-black: #444;
    --near-white: #ddd;
    --off-white: #bbb;
    --sea-blue: #0af;
    --sea-green: #0fa;
    --dark-sea-blue: #058;

    --quick-in: cubic-bezier(0, 0.75, 0.25, 1);
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: var(--off-black);
        color: var(--near-white);
    }

    .bodySubtitle {
        border-left: 0.25vw solid var(--near-white);
    }

    footer {
        background-color: var(--near-white);
        color: var(--near-black);
    }

    footer > a {
        content: url("https://i.postimg.cc/N0pptLvn/Up-Button-Dark-on-Light.png");
    }

} /* End of Dark Mode CSS */

@media (prefers-color-scheme: light) {
    html {
        background-color: var(--near-white);
        color: var(--near-black);
    }

    .bodySubtitle {
        border-left: 0.25vw solid var(--near-black);
    }

    footer {
        background-color: var(--near-black);
        color: var(--near-white);
    }

    footer > a {
        content: url("https://i.postimg.cc/26yTSmzS/Up-Button-Light-on-Dark.png");
    }

} /* End of Light Mode CSS */

html {
    font-family: 'Space Grotesk', 'Cabin', sans-serif;

    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

a {
    text-decoration: none;
}

::selection {
    background-color: var(--dark-sea-blue);
    color: var(--near-white);
}

#headerSection {
    background-image: linear-gradient(90deg, var(--sea-green) 33%, var(--sea-blue) 67%);
    background-size: 200vw;
    background-position-x: center;
    animation: headerAnim 10s ease-in-out 0s infinite;
    
    font-family: "Space Grotesk";
    font-size: 10vh;
    font-weight: bold;
    color: var(--near-black);

    height: 25vh;
    width: 100vw;

    position: absolute;
    top: 6vh;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes headerAnim {
    25% {background-position-x: left;}
    75% {background-position-x: right;}
}

#bodyOfText{
    position: absolute;
    top: 33vh;
    left: 15vw;

    width: 70vw;

    font-family: "Cabin", "Space Grotesk", "Sans Serif", "Serif";
    font-size: 1.5em;
    font-size-adjust: auto;
    text-align: justify;
}

.bodySubtitle {
    font-family: "Space Grotesk";
    font-weight: bold;
    font-size: 2em;

    margin: 0;
    margin-left: 2.5vw;
    padding-left: 0.5vw;
}

#bodyOfText > p:not(.bodySubtitle, .textOnlySec) {
    min-height: 17.5vw;
}

#bodyOfText > .wrapImg {
    width: 30vw;
    height: 16.875vw;
    margin: 1vw;

    background-size: 110%;
    background-position: center;

    border-radius: 0.5vw;
    border-width: 0;

    transition: all var(--quick-in) 0.5s;
}

#bodyOfText > .wrapImg:hover {
    background-size: 125%;
    border-radius: 1.75vw;
    border-width: 0.5vw;
    cursor: pointer;
}

#bodyOfText > .wrapImgRight {
    float: right;
    margin-right: -10vw;
}

#bodyOfText > .wrapImgLeft {
    float: left;
    margin-left: -10vw;
}

#bodyOfText > .linkText > a {
    color: var(--near-white);
    text-decoration: underline;
}

#bodyOfText > .linkText > a:visited:not(:hover) {
    color: var(--off-white);
    text-decoration: underline;
}

#endingCarousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.endCarPart {
    width: 20vw;
    margin: 2vw;
    aspect-ratio: 1;

    font-size: 1.25em;
    color: var(--near-white);

    background-size: fill;
    background-position: center;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    transition: all var(--quick-in) 0.5s;
}

.endCarPart:hover {
    width: 24vw;
    margin: 1px;
    font-size: 1.5em;
    font-weight: 600;
}

.endCarPart > h3 {
    width: 100%;
    padding: 0.25em;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    background-color: rgba(34, 34, 34, 0.5);
    transition: all 1s var(--quick-in);
}

.endCarPart:hover > h3 {
    background-color: rgba(34, 34, 34, 1);
}

footer {
    width: 100%;
    height: 7.5vh;

    font-size: 4vh;

    display: flex;
    justify-content: flex-end;
}

footer > a {
    width: 5vh;
    height: 5vh;
    padding: 1.25vh;
}